.dropdown {
    display: flex;
    flex-direction: column;
    width: 200px;

    &__label {
        font-size: 1em;
        margin-bottom: 5px;
    }

    &__select {
        font-size: 1em;
        font-family: Lato;

        &__option {
        }
    }
}
